body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
}

:root {
  --bg: #fff;
  --text: #000;
}

[data-theme='dark'] {
  --bg: #111;
  --text: #fff;
}
